[Unit]
Description=SSH daemon
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --rm \
  --name {{ openssh_service_name }} \
  --net {{ openssh_network }} \
  -p {{ openssh_host_port }}:22 \
  -m {{ openssh_host_memory }} \
{% if openssh_privileged %}
  --privileged \
{% endif %}
{% for item in openssh_cap_add %}
  --cap-add {{ item }} \
{% endfor %}
{% for item in openssh_cap_drop %}
  --cap-drop {{ item }} \
{% endfor %}
{% for item in openssh_keys %}
{% if item.content is defined %}
  -v {{ openssh_host_config_dir }}/{{ item.filename }}:/etc/ssh/{{ item.filename }} \
{% else %}
  -v /etc/ssh/{{ item.filename }}:/etc/ssh/{{ item.filename }} \
{% endif %}
{% endfor %}
  -v {{ openssh_host_config_dir }}/users.csv:/etc/ssh/users.csv \
  -e SSHD_ALLOW_TCP_FORWARDING={{ openssh_allow_tcp_forwarding }} \
  -e SSHD_TCP_KEEP_ALIVE={{ openssh_tcp_keep_alive }} \
  -e SSHD_CLIENT_ALIVE_INTERVAL={{ openssh_client_alive_interval }} \
  -e SSHD_CLIENT_ALIVE_COUNT_MAX={{ openssh_client_alive_count_max }} \
  -e SSHD_LOG_LEVEL={{ openssh_log_level }} \
  -e SSHD_PUBKEY_AUTHENTICATION={{ openssh_pubkey_authentication }} \
  -e SSHD_PASSWORD_AUTHENTICATION={{ openssh_password_authentication }} \
  {{ openssh_docker_image }}
ExecStop=/usr/bin/docker stop -t 10 {{ openssh_service_name }}

[Install]
WantedBy=default.target
